.container__content-title{
    font-size: 3rem;
    font-weight: 500;
}
/*
.container__content-filter{
    padding-top: 10px;
    font-family: var(--font-text);
    font-size: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

.container__container-filter-name{
    height: 3rem;
    font-size: 2rem;
    font-family: var(--font-text);
    // background-color: #212529; 
    display: flex;
    align-items: center;
    justify-content: center;
}
.device__select-menu{
    width: 100px;
    cursor: pointer;
    position: relative;
}
.device__select{
    background-color: var(--main-color);
    padding: 0px;
    color: var(--white-color);    
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: var(--font-text);
}
.device__options-list{
    position: absolute;
    width: 100%;
    background-color: var(--white-color);
    border-radius: 6px;
    margin-top: 10px;
    padding: 0 0px;
    max-height: 180px;
    overflow-y: auto;
    // transition: .4s linear .2s; 
    height: 0;
    color: var(--black-color);
  }
  
.device__option{
    padding: 8px 0;
    font-weight: 500;
    font-size: 14px;
    // transition: .3s ease-in-out; 
}
  
.device__option:hover,
.device__option.selected{
    color: #00a8ff;
}
  
.device__options-list::-webkit-scrollbar{
    width: 4px;
    background-color: var(--main-color);
}
  
.device__options-list::-webkit-scrollbar-thumb{
    background-color: #00a8ff;
}
  
.device__options-list.active{
    height: 180px;
}

*/

/*
.container__container-filter-btn{
    height: 3rem;
    align-items: center;
}
.container__container-filter-button{
    text-decoration: none;
    background-color: var(--main-color);
    border: none;
    font-family: var(--font-text);
    height: 3rem;
    font-size: 1.5rem;
    width: 6rem;
    color: var(--white-color);
}
.container__container-filter-button:hover{
    background-color: rgba(0,0,0,0.1);
}

.container__container-filter-button.active{
    border-top: 2px solid;
}
*/

.container__content-trend-1{
    color: var(--white-color);  
}
canvas{
    min-height:300px;
    min-width: 300px;
    background-color: var(--secondary-color);
}
